{:remote-repo {:git-url "https://github.com/eugnes03/personalwebpage"
               :branch "main"}
 :base-target-path ".clay-temp"
 :base-source-path "notebooks"
 :subirs-to-sync ["notebooks"]

 ;; aliases
 :markdown {:render           true
            :quarto-target-path "site/notebooks/notebook"
            :base-target-path "site/notebooks/notebook"
            :format           [:quarto :html]
            :run-quarto       false}}